#container{
    margin-left: 20%;
    width: 50%;
}
.init{
    width: 60%;
    padding: 2px;
    padding-left: 5px;
    background-color: #7a1897;
    padding: 10px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    color: white;
    border-radius: 40px 0px 40px 0px;
}
#icone_user{
    height: 40px;
    width: 40px;
}
#icone_chat{
    height: 50px;
    width: 50px;
}
#message_user{
    padding: 10px;
    background-color:#002fa7;
    font-size: 12px;
    padding: auto;
    border-radius: 40px 0px 40px 0px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
}
#reponse_chat{
    background-color: #7a1897;
    padding: 10px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border-radius: 40px 0px 40px 0px;
    display: inline-block;
}
.icon_send{
    height: 30px;
    width: 30px;
    
}
#question_input{
    height: 40px;
    width: 30%;
    display: inline-block;
    border: 1px solid #7a1897;;
    
}
#poser_question_btn :hover{
    cursor: pointer;
}

#poser_question_btn{
    margin-top: 25px;
    border: none;
    width: 50px;
    height: 50px;
    background-color: #7a1897;
    border-radius: 90px 90px;
}
